<div class="about_container">
  <div class="about_container__hero">
    <h1>About us</h1></div>
  <div class="about_container__main">
    <div class="about_container__main__image">
      <img src="https://images.unsplash.com/photo-1529290130-4ca3753253ae?q=80&w=2952&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="About us image">
    </div>
    <div class="about_container__main__text">
        <h3>Experience comfort and style with Hous latest property selections — all at unbeatable prices that make every stay feel like home.</h3>
        <%= link_to rooms_path do %>
          <button class="btn btn-primary py-2 w-50 my-2">Discover our rooms</button>
        <% end %>
    </div>
  </div>
</div>